*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .align-item{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .people{
    font-weight: bold;
  }
  .people button{
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 10px;
    background-color: brown;
    border-radius: 5px;
  }
  .people button:hover{
    background-color: black;
    transition: 0.2;
    color: white;
  }
  